<header th:fragment="header" class="header">
    <div class="logo"...>
        <div>
            <ul class="Menu">
                <li><a href="/presentation/about/show"> Acerca de...</a></li>
                <th:block th:if="${session.usuario!=null}">
                    <th:block th:if="${session.usuario.getRol().equals('proveedor')}"></th:block>
                    <th:block th:if="${session.usuario.getRol().equals('administrador')}"></th:block>
                    <li></li>
                </th:block>
                <th:block th:unless="${session.usuario!=null}">
                    <li><a href="/presentation/login/show">Login</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</header>