<header class="header" th:fragment="header">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="logo">
        </div>
    <div class="titulo"><h1>Facturación Electrónica</h1></div>
    <div>
        <ul class="Menu">
            <li><a href="/presentation/about/show"><h3>Acerca de...</h3></a></li>
            <th:block th:if="${session.usuario != null}">
                <!-- Lógica específica para proveedor o administrador -->
                <!--<th:block th:if="${session.usuario.getRol().equals('PROVEEDOR')}"></th:block>
                <th:block th:if="${session.usuario.getRol().equals('ADMINISTRADOR')}"></th:block>-->
                <li><a href="#" th:href="@{/presentation/login/logout}"><h3>Salir</h3></a></li>
            </th:block>
            <th:block th:unless="${session.usuario != null}">
                <li><a href="/presentation/login/show"><h3>Login</h3></a></li>
            </th:block>
        </ul>
    </div>
</header>