<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Facturación</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="body">
        <div>
            <table></table>
        </div>
        <div>
            <h1 class="caption">Editar...</h1>
            <form action="presentation/clientes/create" th:object="${clienteEdit}" method="post">
                <div class="form">
                    <div>
                        <div>Identificación</div>
                        <div><input type="text" th:field="*{id}"></div>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="heading"></div>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>