<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Facturación</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="body">
        <section id="registro">
            <h2>Regístrese como proveedor</h2>
            <form th:action="@{/presentation/registro/register}" method="post" th:object="${registroDTO}">
                <div th:if="${error}" th:text="${error}" class="error"></div> <!--Mensajes de error generales (controlador)-->

                <label for="idProveedor">Cédula Física o Jurídica:</label>
                <input type="text" id="idProveedor" th:field="*{idProveedor}" required>
                <div th:if="${#fields.hasErrors('idProveedor')}" th:errors="*{idProveedor}" class="error"></div>

                <label for="nombreProveedor">Nombre o Razón Social:</label>
                <input type="text" id="nombreProveedor" th:field="*{nombreProveedor}" required>
                <div th:if="${#fields.hasErrors('nombreProveedor')}" th:errors="*{nombreProveedor}" class="error"></div>

                <label for="correoElectronico">Correo Electrónico:</label>
                <input type="email" id="correoElectronico" th:field="*{correoElectronico}" required>
                <div th:if="${#fields.hasErrors('correoElectronico')}" th:errors="*{correoElectronico}" class="error"></div>

                <label for="numeroTelefono">Número de Teléfono:</label>
                <input type="text" id="numeroTelefono" th:field="*{numeroTelefono}" required>
                <div th:if="${#fields.hasErrors('numeroTelefono')}" th:errors="*{numeroTelefono}" class="error"></div>

                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" th:field="*{direccion}" required>
                <div th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="error"></div>

                <label for="nombreUsuario">Nombre de Usuario:</label>
                <input type="text" id="nombreUsuario" th:field="*{nombreUsuario}" required>
                <div th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}" class="error"></div>

                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" th:field="*{contrasena}" required>
                <div th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="error"></div>

                <button type="submit">Registrar</button>
            </form>
        </section>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>